@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

*,
*:before,
*:after {
    box-sizing: border-box;
}

@media (max-width: 576px) {
    .why-lo{
        display: none;
    }
}

html, body {
    max-width: 100% !important;
    overflow-x: hidden !important;
}


@font-face {
    font-family: gloss;
    src: url(./gloss.ttf);
}

.gloss{
    font-family: gloss,Quicksand;
    color: black;
}

nav a{
    color: black;
}



.header-top{
    position: absolute;
    top: 20px;
    height: 200px;
    background-color: #1998ff;
}


.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

body {
    font-family: Poppins !important;
    margin: 0;
    display: grid;
    font-size: 14px;
}

p {
    color: black !important;
}

header p {
    padding: 50px;
    text-align: center;
    color: #bebebe;
    /* text-transform: uppercase; */
    font-size: 65px;
    font-weight: 700;
}

.footer {
    display: flex;
    flex-flow: row wrap;
    padding: 50px;
    color: #fff;
    background-color: rgb(255, 255, 255);
}

.footer>* {
    flex: 1 100%;
}

.l-footer {
    margin-right: 1.25em;
    margin-bottom: 2em;
}

h2 {
    font-weight: 400;
    font-size: 15px;
    color: black;
}

.footer ul {
    list-style: none;
    padding-left: 0;
}

.footer li {
    line-height: 2em;
}

.footer a {
    text-decoration: none;
}

.r-footer {
    display: flex;
    flex-flow: row wrap;
}

.r-footer>* {
    flex: 1 50%;
    margin-right: 1.25em;
}

.box a {
    color: #999;
}

.h-box {
    column-count: 2;
    column-gap: 1.25em;
}

.b-footer {
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.l-footer p {
    padding-right: 20%;
    color: #999;
}

@media screen and (min-width: 600px) {
    .r-footer>* {
        flex: 1;
    }

    .features {
        flex-grow: 2;
    }

    .l-footer {
        flex: 1 0px;
    }

    .r-footer {
        flex: 2 0px;
    }
}

.img-header{
    object-fit: cover;
}

hr.worm {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzhweCIgaGVpZ2h0PSI3cHgiIHZpZXdCb3g9IjAgMCAzOCA3IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPiAgICA8ZyBpZD0iUGFnZS0xIiBzdHJva2U9Im5vbmUiIHN0cm9rZS13aWR0aD0iMSIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPiAgICAgICAgPGcgaWQ9IktlbGFzIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtNjY0LjAwMDAwMCwgLTI2OS4wMDAwMDApIiBzdHJva2U9IiNGNENBQUUiIHN0cm9rZS13aWR0aD0iMiI+ICAgICAgICAgICAgPGcgaWQ9ImhlYWRlciI+ICAgICAgICAgICAgICAgIDxnIGlkPSJkaXZpZGVyIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSg2NjUuMDAwMDAwLCAyNzAuMDAwMDAwKSI+ICAgICAgICAgICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgtMiIgcG9pbnRzPSIwIDQuODI4NDM1NTMgNi41NzM0MTc5MyAxLjg0ODYzMTY2ZS0xNCAxMS43NjM5ODYxIDQuODI4NDM1NTMiPjwvcG9seWxpbmU+ICAgICAgICAgICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgtMi1Db3B5IiBwb2ludHM9IjEyIDQuODI4NDM1NTMgMTguNTczNDE3OSAxLjg0ODYzMTY2ZS0xNCAyMy43NjM5ODYxIDQuODI4NDM1NTMiPjwvcG9seWxpbmU+ICAgICAgICAgICAgICAgICAgICA8cG9seWxpbmUgaWQ9IlBhdGgtMi1Db3B5LTIiIHBvaW50cz0iMjQgNC44Mjg0MzU1MyAzMC41NzM0MTc5IDEuODQ4NjMxNjZlLTE0IDM1Ljc2Mzk4NjEgNC44Mjg0MzU1MyI+PC9wb2x5bGluZT4gICAgICAgICAgICAgICAgPC9nPiAgICAgICAgICAgIDwvZz4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==);
    border: none;
    height: 5px;
    margin: 30px 0;
    background-repeat: no-repeat;
    background-position: center
}


.jargon {
    /* margin: 30px; */
    font-family: Merriweather;
    font-weight: 300;
    background-color: white;
}

.jargon-6 img {
    width: 390px;
    height: 390px;
}

.jargon-6 img {
    width: 390px;
    height: 390px;
}


.jargon-client img{
    width: 500px;
    height: 120px;
}

.jargon-final{
    background-color: #bce6eb !important;
    font-weight: bolder;
}

.jargon-final h3{
    font-weight: bolder;
}

.jargon-path img{
    width: 300px;
    height: 300px;
}

.jargon-5{
    margin-right: 60px;
    margin-left: 60px;
}

.ic-jargon {
    width: 25px;
    height: 25px;
}

.jargon-why p {
    font-size: 12px;
}

.jargon-why img {
    margin-bottom: 10px;
    font-size: 12px;
}